DATABASE_URL="mongodb+srv://walisoncosta219_db_user:hIKHfnEtTER1NQYp@barbearia21.pc7cm0w.mongodb.net/barbearia?retryWrites=true&w=majority"
JWT_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY5ZjUxNjM4YTZlNTFhOTE0OTgyNTM3OSIsImVtYWlsIjoiYWRtaW5AZW1haWwuY29tIiwicm9sZSI6ImFkbWluIiwiaWF0IjoxNzc3NzM1ODM3LCJleHAiOjE3Nzc4MjIyMzd9.jb2nJqYmzom3ndOnmqjCkPnopDkD2thr5nB2xjFjM38"
PORT=3001